.carbone{   
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-column-gap: 10px;
   padding: 5px;
   border-radius: 4px;
   background-color: rgb(68, 209, 68);
   width: 4em;
}
.carbone .numero{
   text-align: right;
}
.carbone .symbole, .nom, .valeur{
   text-align: center;

}
.carbone .symbole{
   font-weight: bold;
   font-size: 40px;
}
.carbone .nom, .valeur{
   font-size: 12px;
}