.nométaux {
   background-color: rgb(68, 209, 68);
   color: red;
   border-radius: 10px;
   border-color: black;
   margin: 100px auto;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
