.nométaux {
    background-color: rgb(68, 209, 68);
 }
 .button{
    
    width: 90px;
    border: 2px solid black;
    height: 90px;
    border-radius: 6px;
    background-color: rgb(68, 209, 68);
    text-align: center;
 }
 .letter{
    color: brown;
    font-size: 40px;
    top:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .number{
    text-align:right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
 }
 .sous{
    font-size: 10px;
 }