.carbone{   
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 6px;
  padding: 5px;
  border-radius: 6px;
  background-color: rgb(68, 209, 68);
  width: 4em;
  border: 2px solid black;
}
.carbone .numero{
  text-align: right;
}
.carbone .symbole, .nom, .valeur{
  text-align: center;
}
.carbone .symbole{
  font-weight: bold;
  font-size: 40px;
}
.carbone .nom, .valeur{
  font-size: 12px;
}
.azote{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 6px;
  padding: 5px;
  border-radius: 6px;
  background-color: rgb(68, 209, 68);
  width: 4em;
  border: 2px solid black;
}
.azote .symbole1{
  color: red
}
.azote .numero1{
  text-align: right;
}
.azote .symbole1, .nom1, .valeur1{
  text-align: center;
}
.azote .symbole1{
  font-weight: bold;
  font-size: 40px;
}
.azote .nom1, .valeur{
  font-size: 12px;
}
.phosphate{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 6px;
  padding: 5px;
  border-radius: 6px;
  background-color: rgb(68, 209, 68);
  width: 4em;
  border: 2px solid black;
}
.phosphate .numero2{
  text-align: right;
}
.phosphate .symbole2, .nom2, .valeur2{
  text-align: center;
}
.phosphate .symbole2{
  font-weight: bold;
  font-size: 40px;
}
.phosphate .nom2, .valeur2{
  font-size: 12px;
}
.carbone .azote, .phosphate, .buttonO, .buttonH, .buttonS
.buttonSe {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 10px;
  
}
.buttonO{
  
  width: 4em;
  border: 2px solid black;
  border-radius: 6px;
  background-color: rgb(68, 209, 68);
  text-align: center;
  padding: 5px;
}
.letterO{
  color: red;
  font-size: 40px;
  top:0px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.numberO{
  text-align:right;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}
.sousO{
  font-size: 10px;
}
.buttonH{
  
 width: 4em;
 border: 2px solid black;
 border-radius: 6px;
 background-color: rgb(68, 209, 68);
 text-align: center;
 padding: 5px;
}
.letterH{
 color: red;
 font-size: 40px;
 top:0px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.numberH{
 text-align:right;
 font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.sousH{
 font-size: 10px;
}
.buttonS{
  
 width: 4em;
 border: 2px solid black;
 border-radius: 6px;
 background-color: rgb(68, 209, 68);
 text-align: center;
 padding: 5px;
}
.letterS{
 font-size: 40px;
 top:0px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.numberS{
 text-align:right;
 font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.sousS{
 font-size: 10px;
}
.buttonSe{
  
 width: 4em;
 border: 2px solid black;
 border-radius: 6px;
 background-color: rgb(68, 209, 68);
 text-align: center;
 padding: 5px;
}
.letterSe{
 font-size: 40px;
 top:0px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.numberSe{
 text-align:right;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sousSe{
 font-size: 10px;
 }